<div class="container">
    <img [src]="post?.url" [alt]="post?.title" class="post-image">
    <div class="row">
      <div class="col-md-11">
        <h2>{{post?.title | uppercase}} </h2>
      </div>
    </div>
  
    <hr>
    <div class="row" style="margin-bottom: 10px;">
      {{post?.body}}
    </div>
    <button (click)="deletePost(post?.id)" class="btn btn-default">DELETE POST</button>
    <button (click)="edit(post?.id)" [routerLink]="['/posts/edit',post?.id]" class="btn btn-default">EDIT POST</button>
    </div>