<h1>New Post</h1>
<hr>
<div class="col-md-6">
  <form #newPostForm="ngForm" (ngSubmit)="savePost(newPostForm.value)" autocomplete="off" novalidate>
    <div class="form-group" [ngClass]="{'error': newPostForm.controls['name']?.invalid && newPostForm.controls['title']?.touched}">
      <label for="postTitle">Post Title:</label>
      <em *ngIf="newPostForm.controls['title']?.invalid && (newPostForm.controls['title']?.touched)">Required</em>
      <input (ngModel)="post.title" name="title" required id="name" type="text" class="form-control" placeholder="Title of your post..." />
    </div>
    <div class="form-group" [ngClass]="{'error': newPostForm.controls['body']?.invalid && newPostForm.controls['body']?.touched}">
      <label for="postBody">Post Body:</label>
      <em *ngIf="newPostForm.controls['body']?.invalid && (newPostForm.controls['body']?.touched)">Required</em>
      <input (ngModel)="post.body" name="body" required id="postBody" type="text" class="form-control" placeholder="Post body..." />
    </div>
    <div class="form-group" [ngClass]="{'error': newPostForm.controls['id']?.invalid && newPostForm.controls['id']?.touched}">
      <label for="postId">Post ID:</label>
      <em *ngIf="newPostForm.controls['id']?.invalid && (newPostForm.controls['id']?.touched)">Required</em>
      <input (ngModel)="post.id" name="id" required id="id" type="text" class="form-control" placeholder="Id of the post..." />
    </div>
    <div class="form-group" [ngClass]="{'error': newPostForm.controls['userId']?.invalid && newPostForm.controls['userId']?.touched}">
      <label for="userId">User ID:</label>
      <em *ngIf="newPostForm.controls['userId']?.invalid && (newPostForm.controls['userId']?.touched)">Required</em>
      <input (ngModel)="post.userId" name="userId" required id="userId" type="text" class="form-control" placeholder="Id of the user..." />
    </div>
    
    <div class="form-group">
      <label for="url">Url:</label>
      <input (ngModel)="post.url" name="url" id="url" type="text" class="form-control" placeholder="Url..." />
    </div>
    <div class="form-group">
      <label for="thumbnailUrl">Thumbnail Url:</label>
      <input (ngModel)="post.thumbnailUrl" name="thumbnailUrl" id="thumbnailUrl" type="text" class="form-control" placeholder="Thumbnail Url..." />
    </div>
    
    <button type="submit" class="btn btn-primary">Save</button>
    <button type="button" [disabled]="newPostForm.invalid" class="btn btn-default" (click)="cancel()">Cancel</button>
  </form>
</div>